@charset "UTF-8";
.flex {
  display: flex;
}
.flex.column {
  flex-direction: column;
}
.flex.column.column-center {
  align-content: center;
}
.flex.column.column-space-between {
  align-content: space-between;
}
.flex.column.column-start {
  align-content: flex-start;
}
.flex.column.column-end {
  align-content: flex-end;
}
.flex.center {
  justify-content: center;
}
.flex.start {
  justify-content: flex-start;
}
.flex.end {
  justify-content: flex-end;
}
.flex.space-between {
  justify-content: space-between;
}
.flex.space-around {
  justify-content: space-around;
}
.flex.middle {
  align-items: center;
}
.flex.stretch {
  align-items: stretch;
}
.flex.top {
  align-items: flex-start;
}
.flex.bottom {
  align-items: flex-end;
}
.flex.wrap {
  flex-wrap: wrap;
}
.flex.grow {
  flex-grow: 1;
}

.flex-one {
  flex: 1;
}

.flex-two {
  flex: 2;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  color: #555555;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

.pc-show {
  display: block;
}

.pc-hide {
  display: none;
}

input, textarea {
  outline: none;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 1044px) {
  .tablet-show {
    display: block;
  }

  .tablet-hide {
    display: none;
  }

  .container {
    width: 950px;
  }
}
@media (max-width: 1000px) {
  .phone-show {
    display: block;
  }

  .phone-hide {
    display: none;
  }

  .container {
    width: 90%;
  }
}
body.index {
  background-color: #f4f4f4;
  position: relative;
  min-height: 100vh;
}
body.index .header {
  background-color: #db0010;
  padding-top: 60px;
  padding-bottom: 20px;
}
body.index .header .search-group {
  height: 60px;
  width: 100%;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 30px;
}
body.index .header .search-group input {
  width: calc(87% - 1rem);
  height: 100%;
  padding-left: 1rem;
}
body.index .header .search-group .btn-search {
  width: 13%;
  height: 100%;
  background-color: #ffffff;
  border-left: 1px solid #cccccc;
  cursor: pointer;
}
body.index .header .search-group .btn-search .icon-search {
  width: auto;
  height: 60%;
}
body.index .header .tabs {
  height: 60px;
  width: 100%;
  border-radius: 30px;
  overflow: hidden;
  background-color: #f05260;
}
body.index .header .tabs .tab {
  height: 100%;
  width: 33.3%;
  background-color: transparent;
  color: #ece56d;
  text-align: center;
  border-radius: 30px;
  line-height: 60px;
  cursor: pointer;
}
body.index .header .tabs .tab[data-active=true] {
  background-color: #FFF;
  font-weight: bold;
  color: #f05260;
}
body.index .main .subtabs {
  background-color: #f05260;
  margin-bottom: 0.3rem;
  display: none;
}
body.index .main .subtabs .subtab {
  color: #ece56d;
  width: 20%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}
body.index .main .subtabs .subtab:last-of-type {
  border-left: 1px solid #ece56d;
}
body.index .main .subtabs .subtab:last-of-type .icon-filter {
  background: url(../image/filter.png) no-repeat 0 0;
  display: block;
  width: 1rem;
  height: 1rem;
  background-position: center;
  background-size: 100%;
  margin-left: 0.2rem;
}
body.index .main .subtabs .container {
  position: relative;
}
body.index .main .subtabs .container .icon-triangle {
  position: absolute;
  display: block;
  border-width: 0.3rem 0.4rem;
  border-color: transparent transparent #ffffff transparent;
  border-style: solid;
  bottom: 0;
  left: 10%;
  transform: translateX(-50%);
  transition: left 1s;
  -moz-transition: left 1s;
  /* Firefox 4 */
  -webkit-transition: left 1s;
  /* Safari 和 Chrome */
  -o-transition: left 1s;
  /* Opera */
}
body.index .main .results {
  background-color: #ffffff;
}
body.index .main .results[data-active=true] {
  display: block;
}
body.index .main .results[data-active=false] {
  display: none;
}
body.index .main .results .no-item {
  padding: 1rem 0;
}
body.index .main .results[data-tab="1"] .items .item {
  width: 100%;
  padding: 1rem 0;
}
body.index .main .results[data-tab="1"] .items .item .left {
  width: 85%;
}
body.index .main .results[data-tab="1"] .items .item .left .image {
  width: 20%;
  height: 100%;
}
body.index .main .results[data-tab="1"] .items .item .left .image img {
  width: 70%;
  height: auto;
}
body.index .main .results[data-tab="1"] .items .item .left .text {
  width: 80%;
}
body.index .main .results[data-tab="1"] .items .item .left .text .name {
  font-weight: bolder;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1rem;
}
body.index .main .results[data-tab="1"] .items .item .left .text .date {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1rem;
}
body.index .main .results[data-tab="1"] .items .item .left .text .detail {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1rem;
}
body.index .main .results[data-tab="1"] .items .item .btn-download {
  color: #333333;
  background-color: #ffffff;
  text-align: center;
  cursor: pointer;
  background-image: none;
  border: 1px solid #cccccc;
  line-height: 2rem;
  height: 2rem;
  width: 15%;
  border-radius: 0.2rem;
  font-size: 1rem;
}
body.index .main .results[data-tab="2"] .items .item {
  display: block;
  width: 30%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
body.index .main .results[data-tab="2"] .items .item img {
  width: 80%;
  height: auto;
  margin: 0 auto;
  display: block;
}
body.index .main .results[data-tab="2"] .items .item .name {
  text-align: center;
  padding-top: 0.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1rem;
  font-weight: 600;
  color: #5e87b0;
}
body.index .main .results[data-tab="3"] .items .item {
  display: block;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}
body.index .main .results[data-tab="3"] .items .item .name {
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1rem;
  font-weight: 600;
  color: #5e87b0;
  margin-bottom: 0.3rem;
}
body.index .main .results[data-tab="3"] .items .item .read {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1rem;
  color: #cccccc;
  margin-bottom: 0.3rem;
}
body.index .main .results[data-tab="3"] .items .item .date {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1rem;
  color: #cccccc;
}
body.index .filter {
  position: absolute;
  top: 0;
  left: 100%;
  bottom: 0;
  width: 80%;
  z-index: 3;
  background-color: #ffffff;
  transition: left 0.2s linear;
}
body.index .filter .filter-header {
  height: 3rem;
  line-height: 3rem;
  background-color: #ddd;
  font-size: 0.9rem;
  padding-left: 0.5rem;
  font-weight: bolder;
}
body.index .filter .filter-container {
  font-size: 0.9rem;
  padding-top: 1rem;
  width: 100%;
}
body.index .filter .filter-container .label {
  padding-left: 0.5rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
body.index .filter .filter-container .btn-items {
  padding-left: 0.5rem;
}
body.index .filter .filter-container .btn-items .btn-item {
  display: block;
  background-color: #DDD;
  text-align: center;
  color: #000;
  font-size: 0.8rem;
  margin: 0.3rem;
  height: 2rem;
  line-height: 2rem;
  border-radius: 0.3rem;
  width: 25%;
  margin-bottom: 0.2rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
body.index .filter .filter-container .btn-items .btn-item[data-active=false] {
  background-color: #DDD;
  color: #000;
}
body.index .filter .filter-container .btn-items .btn-item[data-active=true] {
  background-color: #ed172a;
  color: #FFF;
}
body.index .filter .filter-container .btn-filter {
  color: #ffffff;
  background-color: #5e87b0;
  display: block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  cursor: pointer;
  background-image: none;
  white-space: nowrap;
  font-size: 0.8rem;
  height: 2rem;
  line-height: 2rem;
  border-radius: 0.3rem;
  width: 25%;
  margin: 3rem auto;
}
body.index .cover-bk {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  display: none;
}
@media (max-width: 1044px) {
  body.index .header {
    padding-top: 2rem;
    padding-bottom: 0.7rem;
  }
  body.index .header .search-group {
    height: 2rem;
    font-size: 1rem;
    line-height: 2rem;
    width: 100%;
    border-radius: 1rem;
    margin-bottom: 1rem;
  }
  body.index .header .tabs {
    height: 2rem;
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
    font-size: 0.8rem;
  }
  body.index .header .tabs .tab {
    line-height: 2rem;
  }
  body.index .main .subtabs .subtab {
    height: 2rem;
    line-height: 2rem;
    font-size: 0.8rem;
  }
  body.index .main .subtabs .subtab:last-of-type .icon-filter {
    width: 0.8rem;
    height: 0.8rem;
  }
  body.index .main .results .no-item {
    padding: 1rem 0;
  }
  body.index .main .results[data-tab="1"] .items .item {
    padding: 0.5rem 0;
  }
  body.index .main .results[data-tab="1"] .items .item .left .text .name {
    font-size: 0.8rem;
  }
  body.index .main .results[data-tab="1"] .items .item .left .text .date {
    font-size: 0.6rem;
  }
  body.index .main .results[data-tab="1"] .items .item .left .text .detail {
    font-size: 0.6rem;
  }
  body.index .main .results[data-tab="1"] .items .item .btn-download {
    line-height: 2rem;
    height: 2rem;
    font-size: 0.8rem;
  }
  body.index .main .results[data-tab="2"] .items .item {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
  }
  body.index .main .results[data-tab="2"] .items .item .name {
    padding-top: 0.5rem;
    font-size: 0.8rem;
  }
  body.index .main .results[data-tab="3"] .items .item {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
  }
  body.index .main .results[data-tab="3"] .items .item .name {
    font-size: 0.8rem;
    margin-bottom: 0.3rem;
  }
  body.index .main .results[data-tab="3"] .items .item .read {
    font-size: 0.6rem;
    margin-bottom: 0.3rem;
  }
  body.index .main .results[data-tab="3"] .items .item .date {
    font-size: 0.6rem;
  }
}

/*# sourceMappingURL=css.css.map */
