.header {
    width: 100%;
    height: auto;
    margin: 0;
}

.form {
    width: 100%;
    height: auto;
    background: url(../image/form-bk.png) no-repeat 0 0;
    background-size: 100% 100%;
    background-position: top;

    .label {
        color: #ffffff;
        font-size: 1rem;
        padding-left: 0.5rem;
    }

    .tip {
        padding-top: 2rem;
        color: #ffffff;
        font-size: 1rem;
        padding-bottom: 1rem;
        text-align:center;
    }

    .input-group {
        width: 70%;
        margin: 0 auto;

        .label {
            margin-bottom: 0.3rem;
        }
        /*margin*/
        input {
            border: none;
            border-radius: 0.6rem;
            height: 2rem;
            line-height: 2rem;
            padding: 0 20px;
            width: calc(100% - 40px);
            margin-bottom: 0.3rem;
            font-size: 1rem;
            color: #e2553a;
        }
    }

    .select-group {
        width: 70%;
        margin: 0 auto;
        margin-top: 0.5rem;

        .label {
            width: calc(20% - 0.5rem);
        }

        .select {
            width: 20%;
            margin-left: 3%;
        }
    }


    .radio-group {
        width: 70%;
        margin: 0 auto;
        margin-top: 0.8rem;

        .label {
            width: calc(20% - 0.5rem);
        }

        .radio {
            width: 20%;
            margin-left: 3%;
        }
    }

    .btns {
        padding-top: 1.2rem;
        padding-bottom: 3.2rem;

        .btn-submit {
            display: block;
            text-decoration: none;
            background-color: #ffffff;
            width: 27%;
            margin: 0 auto;
            height: 2rem;
            line-height: 2rem;
            border-radius: 0.5rem;
            color: #e2553a;
            text-align: center;
        }
    }
}

.bk-cover{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:rgba(0,0,0,0.5);
    z-index:10;
    display:none;
}

.modal {
    position: absolute;
    top: 30%;
    width: 70%;
    left: 15%;
    z-index: 11;
    display: none;

    .modal-content {
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 1rem;
        text-align: center;
        color: #f86a4e;
        font-family: 'Microsoft YaHei';
        padding: 2.5rem 0;
        font-size: 1rem;
        line-height: 2;
    }

    .btn-modal {
        background-color: #ff0000;
        width: 1.5rem;
        height: 1.5rem;
        position: relative;
        display: block;
        margin: 1rem auto;
        border-radius: 50%;
        cursor: pointer;

        &:before {
            content: '';
            position: absolute;
            display: block;
            width: 1rem;
            height: 1px;
            top: calc(50% - 1px);
            left: 0.23rem;
            transform: rotate(45deg);
            background-color: #ffffff;
            z-index: 12;
        }

        &:after {
            content: '';
            position: absolute;
            display: block;
            width: 1rem;
            height: 1px;
            top: calc(50% - 1px);
            left: 0.23rem;
            transform: rotate(-45deg);
            background-color: #ffffff;
            z-index: 12;
        }
    }
}