.select {
    color: #ffffff;
    width: 2.5rem;
    height: 2rem;
    line-height: 2rem;
    border: 1px solid #ffffff;
    border-radius: 0.6rem;
    padding-left: 0.5rem;
    position: relative;

    i{
        content: '';
        border-style: solid;
        border-color: #ffffff transparent transparent transparent;
        border-width: 0.5rem 0.3rem;
        position: absolute;
        top: 0.75rem;
        right: 0.5rem;
        display: block;
    }

}

.options {
    position: fixed;
    overflow-y: scroll;
    width: 100%;
    color: #ffffff;
    height: 20rem;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #b497af;
    text-align: center;
    display: none;
    z-index:20;
    .option{
        line-height:2;
    }
}